[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
[submodule "dependencies/gufo"]
	path = dependencies/gufo
	url = https://github.com/nemo-ufes/gufo.git
	branch = master
[submodule "dependencies/gufoshapes"]
	path = dependencies/gufoshapes
	url = https://github.com/nemo-ufes/gufoshapes.git
	branch = main
